<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de contratos</title>
  <link rel="stylesheet" href="listar-contratos.component.scss">
</head>
<body>
  <!-- Back to Main Page Button -->
  <button class="back-button" (click)="goToMainPage()">Volver al Inicio</button>

  <h2>Lista de contratos</h2>

  <div *ngIf="contratos.length === 0" class="no-contracts">No contracts available</div>
  <ul *ngIf="contratos.length > 0">
    <li *ngFor="let contrato of contratos">
      <strong>{{ contrato.nombreCliente }}</strong>
      <p>Fecha de inicio: {{ contrato.fechaInicio | date: 'shortDate' }}</p>
      <p>Fecha final: {{ contrato.fechaFinal | date: 'shortDate' }}</p>
      <p>Placa: {{ contrato.placa }}</p>

      <!-- Edit and Delete buttons -->
      <button class="edit" (click)="editarContrato(contrato.id)">Editar</button>
      <button class="delete" (click)="borrarContrato(contrato.id)">Borrar</button>
    </li>
  </ul>
</body>
</html>
